<p id="notice"><%= notice %></p>

<h1>Stories</h1>


<button class="btn" type="button" name="button"><a href=""><%= link_to 'New Story', new_story_path %></a></button>
<hr>

<% @stories.each do |story| %>
  <h3><%= story.title %></h3>
  <p><%= story.body[0..60]+"..." %></p>
  <button class="btn" type="button" name="button"><a href=""><%= link_to 'Read', story, class: "" %></a></button>
  <button class="btn" type="button" name="button"><a href=""><%= link_to 'Edit', edit_story_path(story) %></a></button>
  <button class="btn btn-danger" type="button" name="button"><a href=""><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></a></button>


<hr>
<% end %>


<br>

<button class="btn" type="button" name="button"><a href=""><%= link_to 'New Story', new_story_path %></a></button>
